* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: floralwhite;
  }

$body: 'Rubik';


h1 {
    font-family: 'Marcellus', serif;
    font-size: 40px;
}

p {
    font-family: $body;
    font-weight: 400;
    line-height: 22px;
    font-size: 20px;
    color:rgb(73, 73, 73);
}


.wrapper {
    max-width: 1440px;
    padding: 35px 96px;
}


.logo_title {
    width: 280px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        display: flex;
        width: 400px;

    
        &:nth-child(2){
            width: 500px;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            margin-left: 63px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        text-decoration: none;
        list-style: none;
        padding-right: 36px;
        font-family: $body;
        font-size: 22px;
        text-transform: lowercase;
        letter-spacing: .8px;
    }
}

.block.hero-1 {
    display: flex;

    .row {
        margin-top: 90px;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;

        &:nth-child(2){
            width: 500px;
        }
    }


    .heading {
        font-family: 'Marcellus', serif;
        font-size: 60px;
        margin-bottom: 30px;

    }

    
    .arrow {
        width: 100px;
        margin-bottom: 20px;
    }
}