

@font-face {
  font-family: "Black Mango Bold";
  src: url("fonts/blackmango-bold-webfont.woff2") format("woff2"),
    url("fonts/blackmango-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "Black Mango Light";
  src: url("fonts/blackmango-light-webfont.woff") format("woff"),
    url("fonts/blackmango-light-webfont.woff2") format("woff2");
  font-weight: normal;
}
// @font-face {
//   font-family: "Black Mango Bold";
//   src: url("fonts/BlackMango-Bold.ttf");
//   font-weight: normal;
//   font-style: bold;
// }

@mixin btn-style-1() {
  width: 100%;
  max-width: 176px;
  text-decoration: none;
  background-color: #121127;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 200px;
  padding: 15px 30px;
  margin-right: 30px;
}

@mixin heading-style-1() {
  color: #121127;
  font-family: "Black Mango Bold";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

$body: "Quicksand";

// .page_wrapper {
//   width: 100%;
//   max-width: 1080px;
//   margin: 0 auto;
//   padding: 0px 30px;
// }

h1 {
  // font-family: "Marcellus", serif;
  // font-family: 'black_mangobold';
  // src: url('blackmango-bold-webfont.woff2') format('woff2'),
  //      url('blackmango-bold-webfont.woff') format('woff');
  font-family: "Black Mango Bold";
  font-size: 40px;
}

.hero_description {
  font-family: $body;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  font-size: 22px;
  color: rgb(73, 73, 73);
}

.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.logo_title {
  width: 280px;
  height: auto;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding-top: 16px;
  position: absolute;
  top: 0;
  left: 0;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .col {
    display: flex;

    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;
      z-index: 9;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  li {
    text-decoration: none;
    list-style: none;
    margin-right: 36px;
    font-family: "Black Mango Light";
    font-size: 20px;
    letter-spacing: 0.8px;
  }

  .menu_button {
    position: absolute;
    top: 7px;
    right: 0;
    width: 59px;
    height: 40px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
    margin-top: 3px;
    margin-right: 18px;

    @media (max-width: 768px) {
      display: block;

      .hamburger {
        position: relative;
        height: 3px;
        width: 100%;
        background-color: #121127;
        display: flex;
        flex: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-bottom: 3px;
        border-radius: 5px;
      }
    }
  }
}

.block.hero-1 {
  display: flex;
  width: 100%;

  .wrapper {
    padding-right: 0;

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .sparkle_container {
    position: absolute;
    top: 256px;

    @media only screen and (max-width: 1280px) {
      top: 208px;
    }
    @media only screen and (max-width: 1132px) {
      top: 221px;
    }
    @media only screen and (max-width: 999px) {
      top: 214px;
    }
    @media only screen and (max-width: 940px) {
      top: 201px;
    }
    @media only screen and (max-width: 940px) {
      top: 200px;
    }
    @media (max-width: 768px) {
      top: 343px;
    }
  }

  .hollow_sparkle {
    width: 30px;
    margin-right: 10px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    &:nth-child(1) {
      padding-right: 30px;
      padding-left: 14px;

      @media (max-width: 768px) {
        padding-left: 23px;
        padding-bottom: 40px;
      }
    }

    &:nth-child(2) {
      align-items: center;
      background: linear-gradient(
        34deg,
        #bdcee9 0%,
        #d6ddee 19.09%,
        #e7e7ea 47.17%,
        #f2dde3 70.9%,
        #cabcd6 100%
      );
      padding: 150px 0;
      position: relative;

      @media (max-width: 768px) {
        padding: 44px 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .gradient_rectangle {
    width: 100%;
    max-width: 586px;
    max-height: 810px;
    position: absolute;
    z-index: 0;
    bottom: -57px;
  }
  .hero_logo {
    max-width: 311px;
    z-index: 8;

    @media (max-width: 974px) {
      max-width: 250px;
    }
    @media (max-width: 768px) {
      max-width: 161px;
    }
  }

  .heading {
    @include heading-style-1;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 159px;
    line-height: 77px;

    @media only screen and (max-width: 1133px) {
      margin-top: 254px;
    }

    @media (max-width: 768px) {
      margin-top: 73px;
    }
  }

  .arrow {
    width: 100px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 50px;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    // background-image: linear-gradient(
    //   60deg,
    //   rgb(107, 107, 206) 0%,
    //   rgb(107, 72, 196) 9%,
    //   rgb(245, 115, 230) 45%,
    //   rgb(193, 134, 207) 73%,
    //   rgb(214, 115, 214) 82%,
    //   rgb(245, 151, 240) 91%,
    //   rgb(117, 244, 248) 100%
    // );
    background-image: linear-gradient(
      144deg,
      #b5c9f3 0%,
      #9dade4 35.94%,
      #f1c7df 63.54%,
      #f1afcd 79.17%,
      #dca0d2 100%
    );

    @media only screen and (max-width: 1133px) {
      max-width: 440px;
    }

    @media (max-width: 768px) {
      background-image: linear-gradient(
        144deg,
        #b5c9f3 0%,
        #9dade4 35.94%,
        #f1c7df 63.54%,
        #f1afcd 79.17%,
        #dca0d2 100%
      );
    }
  }

  .btn_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;

    @media only screen and (max-width: 1133px) {
      flex-direction: column;
      justify-content: center;
      gap: 22px;
    }
  }

  .btn_style_1 {
    @include btn-style-1;
  }
  .btn_style_2 {
    @include btn-style-1;
    max-width: 249px;
    background-color: white;
    border: 1px solid #121127;
    color: black;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .image_container {
    position: relative;
  }

  .sparkle_group {
    width: 63px;
    left: -63px;
    top: -17px;
    position: absolute;

    @media screen and (max-width: 900px) {
      width: 49px;
    }

    // @media screen and (max-width: 1196px) {
    //   width: 63px;
    //   left: 42px;
    //   top: 130px;
    // }
    // @media screen and (max-width: 952px) {
    //   width: 49px;
    //   left: 40px;
    //   top: 166px;
    // }

    // @media (max-width: 768px) {
    //   width: 52px;
    //   left: 190px;
    //   top: 45px;
    // }

    // @media (max-width: 623px) {
    //   width: 52px;
    //   left: 130px;
    //   top: 35px;
    // }

    // @media (max-width: 516px) {
    //   width: 52px;
    //   left: 52px;
    //   top: 35px;
    // }

    // @media (max-width: 347px) {
    //   display: none;
    // }
  }
}

.block.hero-2 {
  background-color: #f9f9fb;
  .row {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center;

    @media screen and (max-width: 1206px) {
      gap: 0px;
    }

    @media screen and (max-width: 820px) {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }

    .col {
      &:nth-child(1) {
        width: 100%;
        max-width: 530px;
        margin-top: 125px;
        margin-bottom: 162px;

        @media screen and (max-width: 820px) {
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          margin-top: 80px;
        }
      }

      &:nth-child(2) {
        position: relative;
        margin-top: 179px;

        @media screen and (max-width: 820px) {
          margin-top: 50px;
          margin-bottom: 100px;
        }

        h1 {
          @include heading-style-1;
          margin-bottom: 10px;
          font-size: 52px;
          color: #000;
        }

        .titles {
          font-family: "Black Mango Light";
          margin-bottom: 10px;
          font-size: 40px;
        }
        .bio {
          font-family: $body;
          font-size: 22px;
          line-height: 30px;
          font-weight: 400;
          width: 100%;
          max-width: 584px;

          @media screen and (max-width: 820px) {
            width: 100%;
            max-width: 520px;
            font-size: 18px;
          }
          @media screen and (max-width: 420px) {
            width: 100%;
            max-width: 310px;
            font-size: 18px;
          }
        }

        .btn_container {
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          text-align: center;
        }

        .btn_style_1 {
          @include btn-style-1;
          margin: 0px;
          max-width: 236px;
        }
      }
    }
  }

  .hollow_sparkle {
    width: 100%;
    max-width: 30px;
  }
  .portrait {
    width: 100%;
    max-width: 413px;

    @media screen and (max-width: 820px) {
      width: 100%;
      max-width: 300px;
    }
  }

  .cta-container {
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }

  .sparkle_group_1 {
    width: 100%;
    max-width: 50px;
  }
}

.block.hero-4 {
  display: flex;
  .row {
    display: flex;
    flex-direction: row;

    .col {
      display: flex;
      width: 600px;
      flex-direction: column;

      &:nth-child(2) {
        display: flex;
        width: 600px;
        gap: 13px;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  .creature {
    width: 300px;
  }

  h4 {
    font-family: $body;
    font-weight: 400;
    line-height: 30px;
    font-size: 26px;
    color: rgb(49, 49, 49);
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

.block.services {
  display: flex;
  background: linear-gradient(#f7f1f8 100%, #f6f7fc 100%);

  .row {
    display: flex;
    flex-direction: row;

    &:nth-child(1) {
      justify-content: center;
      margin: 100px 0px 70px 0px;

      .sparkle_container {
        position: relative;
        display: flex;
        align-items: center;
      }

      .hollow_sparkle {
        width: 100%;
        max-width: 30px;
      }

      h1 {
        padding: 0px 20px;
      }
    }

    &:nth-child(2) {
      justify-content: space-around;
      margin-bottom: 39px;

      @media screen and (max-width: 820px) {
        flex-direction: column;
        align-items: center;
        gap: 0px;
      }

      .col {
        display: flex;
        flex-direction: column;
        .service_title {
          @include heading-style-1;
          size: 28px;
          line-height: 42px;
          letter-spacing: 0.5px;
        }

        &:nth-child(1) {
          gap: 93px;

          @media screen and (max-width: 820px) {
            gap: 0px;
          }
        }
        &:nth-child(2) {
          @media screen and (max-width: 820px) {
            flex-direction: column-reverse;
            align-items: center;
          }

          .text_box {
            width: 100%;
            max-width: 400px;
            height: 168px;

            ul {
              list-style: none;
            }
            li {
              font-family: $body;
              font-weight: 500;
              font-size: 26px;
              margin-bottom: 17px;
              margin-left: 15px;
            }
          }

          .info_box {
            display: flex;
            margin: 97px 0px 70px 0px;

            @media screen and (max-width: 820px) {
              margin: 50px 0px -50px 0px;
            }
          }
          .sparkle_container {
            display: flex;
            flex-direction: column;
            gap: 19px;
          }
          .beige_sparkle {
            width: 100%;
            max-width: 28px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .service_block_counseling,
  .service_block.courses,
  .service_block.tarot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-bottom: 66px;
  }

  .image_container {
    img {
      width: 100%;
      max-width: 413px;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5e5e5;
  z-index: 10;
  width: 100%;
  max-width: 1078px;
  display: none;
  background: #ffffff;
  box-shadow: 0px 10px 80px -16px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
  height: 600px;

  @media screen and (max-width: 947px) {
    width: 400px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  &.is-open {
    display: flex;
  }

  .col_modal {
    &:nth-child(1) {
      width: 100%;
      max-width: 310px;
      display: flex;
      margin: 74px 50px 30px 50px;
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 57px;
      margin-top: -61px;
    }
  }

  li {
    font-family: $body;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 18px;
  }
}

.modal_body {
  width: 100%;
  max-width: 584px;
  margin: 0px 30px;

  @media screen and (max-width: 947px) {
    margin: 30px 30px;
  }
}

.cta_container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: -22px;

  @media screen and (max-width: 947px) {
    flex-direction: column;
    gap: 30px;
  }
}

.btn_style_1 {
  @include btn-style-1;
  color: white;
  font-size: 18px;
}

.row_modal {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 947px) {
    display: flex;
    flex-direction: column;
  }
}

.modal_header {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal_title {
  @include heading-style-1;
  font-size: 30px;
  letter-spacing: 0.2px;
  line-height: 42px;
}

.modal_image {
  width: 100%;
  max-width: 310px;
}

.session_price {
  font-family: $body;
  font-size: 18px;
}

.packages {
  font-family: $body;
}

.row_btn {
  height: 25px;
  width: 100%;
  max-width: 30px;
  margin: 30px 30px;
}

.close_button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.block.testimonials {
  background-color: #f9f9fb;
  padding: 130px 20px 130px 20px;
  position: relative;
  z-index: -2;

  .orb.left {
    position: absolute;
    top: -63px;
    left: -50px;
    z-index: -5;
  }

  .orb.right {
    position: absolute;
    top: 190px;
    right: -53px;
    z-index: -5;
  }

  .col {
    z-index: 2;
  }

  .hollow_sparkle {
    width: 30px;
  }

  .heading {
    padding-bottom: 20px;
    display: flex;
    gap: 557px;

    .col {
      display: flex;
      flex-direction: row;
    }
  }

  .arrow_left_box {
    background: rgba(18, 17, 39, 0.04);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 72px;
    height: 48px;
  }

  .fa-solid {
    font-size: 20px;
  }

  .arrow_right_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 72px;
    height: 48px;
    background: #121127;
    border-radius: 100px;
  }
  .fa-solid.fa-arrow-right-long {
    color: #fff;
  }

  .row {
    display: flex;
    gap: 25px;
  }

  .testimonial_box {
    z-index: 9;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 524px;
    height: auto;
    gap: 32px;
    border-radius: 12px;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
    padding: 25px;
    font-family: $body;
    line-height: 29px;
    color: #201f37;
  }

  .testimonial {
    font-weight: 500;
    font-size: 16px;
  }

  .name {
    font-weight: 700;
    font-size: 14px;
  }

  .profession {
    font-size: 12px;
  }

  .author.photo {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

i.fab.fa-github,
i.fab.fa-twitter {
  font-size: 30px;
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.swiper-slide {
    z-index: 9;
    // background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 524px;
    height: auto;
    gap: 32px;
    border-radius: 12px;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
    padding: 25px;
    font-family: $body;
    line-height: 29px;
    color: #201f37;
      }
