@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1 {
  font-family: "Marcellus", serif;
  font-size: 40px;
}

p {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  color: #494949;
}

.wrapper {
  margin: auto;
  max-width: 1080px;
  padding: 35px 31px;
}

.logo_title {
  width: 280px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .row {
  display: flex;
  flex-direction: row;
}
.nav .col {
  display: flex;
  width: 400px;
}
.nav .col:nth-child(2) {
  width: 592px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 63px;
}
.nav ul {
  display: flex;
  flex-direction: row;
}
.nav li {
  text-decoration: none;
  list-style: none;
  padding-right: 36px;
  font-family: "Rubik";
  font-size: 22px;
  text-transform: lowercase;
  letter-spacing: 0.8px;
}

.sparkle_one {
  width: 20px;
  position: absolute;
  top: 45px;
  left: 40px;
}

.sparkle_two {
  width: 33px;
  position: absolute;
  top: 0px;
}

.block.hero-1 {
  display: flex;
}
.block.hero-1 .row {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  position: relative;
  gap: 133px;
  height: 450px;
}
.block.hero-1 .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.block.hero-1 .col:nth-child(2) {
  width: 500px;
  background-image: linear-gradient(250deg, #f7d7d4 0%, #e0e5f0 16%, #bcd4eb 41%, #bfcaf2 65%, #dfcaf2 85%, #ceb9df 100%);
  border-radius: 5%;
}
.block.hero-1 .heading {
  font-family: "Marcellus", serif;
  font-size: 60px;
  margin-bottom: 60px;
}
.block.hero-1 .arrow {
  width: 100px;
  margin-bottom: 20px;
}
.block.hero-1 p {
  background-image: linear-gradient(250deg, #f7d7d4 0%, #e0e5f0 16%, #bcd4eb 41%, #bfcaf2 65%, #dfcaf2 85%, #ceb9df 100%);
}

.block.hero-2 {
  display: flex;
}
.block.hero-2 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 140px;
}
.block.hero-2 .row .col {
  display: flex;
  flex-direction: column;
}
.block.hero-2 .row .col:nth-child(2) {
  margin-top: 60px;
}
.block.hero-2 .row .col:nth-child(3) {
  margin-top: 60px;
}
.block.hero-2 .creature {
  width: 258px;
}
.block.hero-2 .arrow {
  margin-top: 10px;
  width: 136px;
  margin-left: 35px;
}
.block.hero-2 .cta {
  text-decoration: none;
  font-family: "Rubik";
  font-weight: 400;
  line-height: 40px;
  color: #494949;
  font-size: 40px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='50' viewport='0 0 100 100' style='fill:black;font-size:25px;'><text y='50%'>💕</text></svg>") 16 0, auto;
  /*!emojicursor.app*/
}

.block.hero-3 .row {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.block.hero-3 .row .col_left {
  width: 600px;
  margin-top: 50px;
}
.block.hero-3 h1 {
  margin-bottom: 30px;
}
.block.hero-3 .portrait {
  width: 350px;
}

.block.hero-4 .row {
  display: flex;
  flex-direction: row;
}
.block.hero-4 .row .col {
  width: 600px;
}

i.fab.fa-github,
i.fab.fa-twitter {
  font-size: 30px;
}

/*# sourceMappingURL=styles.css.map */
